doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title HTML Canvas 101
		meta(name="author" content="Tim Heap")

		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width")

		link(rel="stylesheet" href="http://openfontlibrary.org/face/hilo-deco")
		link(rel="stylesheet" href="css/app.css")

	body

		article.slides#slides
			include slides.jade

		script(src="js/app.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			if (location.hostname != 'localhost') {
				ga('create', 'UA-61175998-1', 'auto');
			}
			ga('send', 'pageview');
