
section.slide.slide__title(data-orbit)
	h1 Learning canvas<br>for fun and profit
	canvas(width=400 height=400 data-orbit-demo)


section.slide
	header.slide--header: h1 Tim Heap
	.slide--body
		p: a(href="https://twitter.com/tim_heap") @tim_heap
		p: a(href="http://takeflight.com.au") Takeflight

section.slide
	header.slide--header: h1= 'The <canvas> element'
	.slide--body
		pre.bullet.code-block.
			&lt;canvas width=&quot;600&quot; height=&quot;600&quot; id=&quot;example&quot;&gt;&lt;/canvas&gt;
		ul
			li.bullet= 'Like <img> elements, but you draw the image'
			li.bullet= 'Can have CSS borders, backgrounds, positioning, etc'
			li.bullet= 'Must define width and height'

section.slide(data-example)
	header.slide--header: h1 JavaScript!
	.slide--example
		.example
			.example--code.editor(data-example-code).
				var canvas = document.querySelector('canvas');
				var context = canvas.getContext('2d');
			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Basic shapes
	.slide--example
		.example
			.example--code.editor(data-example-code).
				// Set up the drawing styles
				context.fillStyle = '#cc2200';
				context.strokeStyle = '#4466aa';
				context.lineWidth = 8;

				// Draw a box
				context.beginPath();
				context.rect(100, 100, 200, 300);
				context.fill();

				// Draw a circle
				context.beginPath();
				context.arc(350, 400, 100, 0, 2 * Math.PI);
				context.stroke();
			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Polygons
	.slide--example
		.example
			.example--code.editor(data-example-code).
				// Start a new polygon
				context.beginPath();

				// Move the pen to the start of the star
				context.moveTo(500, 300);
				var spikes = 10;
				for (var i = 1; i < spikes * 2; i++) {
					var theta = (i / spikes) * Math.PI;
					var size = i % 2 ? 100 : 200;
					// Draw a line to the next vertex of the star
					context.lineTo(
						300 + Math.cos(theta) * size,
						300 + Math.sin(theta) * size);
				}
				// Join the end and the start of the path
				context.closePath();

				// Set up the drawing styles
				context.strokeStyle = "red";
				context.fillStyle = "yellow";
				context.lineWidth = 4;

				// Draw the polygon
				context.fill();
				context.stroke();
			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Images
	.slide--example
		.example
			.example--code.editor(data-example-code).
				// Make a new Image with the required source
				// This can also be an <img> element
				var logo = new Image();
				logo.src = 'img/wd42.png';

				// Draw the logo
				context.drawImage(logo, 100, 100, 400, 400);

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)
				img(src="img/wd42.png")

section.slide(data-example)
	header.slide--header: h1 Gradients
	.slide--example
		.example
			.example--code.editor(data-example-code).
				// Create a cradient
				var gradient = context.createLinearGradient(0, 0, 600, 0);
				gradient.addColorStop(0/3, '#ff0000');
				gradient.addColorStop(1/3, '#ffff00');
				gradient.addColorStop(2/3, '#00ff00');
				gradient.addColorStop(3/3, '#00ffff');

				// Use the gradient to fill a rectangle
				context.fillStyle = gradient;
				context.fillRect(0, 0, 600, 300);

				// Use the gradient to stroke a line
				context.strokeStyle = gradient;
				context.lineWidth = 100
				context.lineCap = 'round';

				context.beginPath();
				context.moveTo(100, 400);
				context.lineTo(500, 500);
				context.stroke();

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide
	header.slide--header: h1 Animation
	.slide--body
		ul
			li.bullet Must be done manually
			li.bullet <code>setTimeout</code>, <code>setInterval</code>, and <code>requestAnimationFrame</code>
			li.bullet A few libraries exist to help you

section.slide(data-example)
	header.slide--header: h1 Around and around and around and around and around and around and around and around and around
	.slide--example
		.example
			.example--code.editor(data-example-code).
				var x = 300;
				var y = 300;
				var distance = 200;
				var radius = 100;

				context.lineWidth = 8;

				animate(function(time) {

					// Clear the previous frame
					context.clearRect(0, 0, canvas.width, canvas.height);

					// Start a new shape
					context.beginPath();
					var theta = time / 1000;
					context.arc(
						x + Math.cos(theta * 3) * distance,
						y + Math.sin(theta * 5) * distance,
						radius, 0, 2 * Math.PI);

					// Draw the shape
					context.fillStyle = rgb(
						Math.abs(Math.cos(time / 300) * 256),
						Math.abs(Math.cos(time / 500) * 256),
						Math.abs(Math.cos(time / 700) * 256));
					context.fill();
					context.stroke();
				});

				var rgb = function(r, g, b) {
					return 'rgb(' + (r | 0) + ',' + (g | 0) + ',' + (b | 0) + ')';
				};

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide
	header.slide--header: h1 Context
	.slide--body
		p.bullet
			| Documentation: 
			a(target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D")
				| CanvasRenderingContext2D on MDN
		ul
			li.bullet State: Fill and stroke colour, line width, line dashes, etc
			li.bullet Current path being drawn
			li.bullet Line/polygon drawing
			li.bullet Text
			li.bullet Shadows
			li.bullet Compositing and blend modes
			li.bullet Direct pixel manipulation
			li.bullet
				strong State
				p.bullet.
					<code>context.save()</code> will save the current state.<br>
					<code>context.restore()</code> will restore the saved state.<br>
					These can be nested.<br>
			li.bullet: strong Transformations


section.slide
	header.slide--header: h1 Transformations
	.slide--body
		ul
			li.bullet Translate - move left 100 px
			li.bullet Scale - double in size
			li.bullet Rotate - Turn 45° clockwise
			li.bullet Matrix - Arbitary combination of all transformations

section.slide(data-example)
	header.slide--header: h1 Transformations - Translate
	.slide--body
		div
			p.
				<span style="position: relative; top: -10px;">Offset</span>
				all
				<span style="position: relative; left: 10px; top: 5px;">drawing</span>
				operations.
	.slide--example
		.example
			.example--code.editor(data-example-code).
				// Set up the drawing styles
				context.fillStyle = 'red';
				context.lineWidth = 6;

				animate(function(time) {
					// Clear the previous frame
					context.clearRect(0, 0, 600, 600);

					// Translate the origin an amount
					context.save();
					var theta = time / 1000;
					context.translate(
						Math.cos(theta) * 200 + 300,
						Math.sin(theta) * 200 + 300);

					// Draw a rectangle at the origin
					context.beginPath();
					context.rect(-100, -100, 200, 200);
					context.fill();
					context.stroke();

					// Reset the transformation
					context.restore();
				});

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Transformations - Scale
	.slide--body
		div
			p Makes everything <big>bigger</big> or <small>smaller</small>
	.slide--example
		.example
			.example--code.editor(data-example-code).
				image = new Image();
				image.src = 'img/wd42.png';
				context.lineWidth = 40;

				animate(function(time) {
					// Clear the canvas
					context.clearRect(0, 0, 600, 600);

					context.save();

					// Move the origin to the center of the canvas
					context.translate(300, 300);
					// Scale an amount, outwards from the origin
					context.scale(
						Math.sin(time / 1700),
						Math.cos(time / 1300));

					// Draw and outline an image
					context.drawImage(image, -300, -300, 600, 600);
					context.strokeRect(-300, -300, 600, 600)

					context.restore();
				});
			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Transformations - Rotation
	.slide--body
		div
			p: img.inline(src='img/spinning.gif')
	.slide--example
		.example
			.example--code.editor(data-example-code).
				image = new Image();
				image.src = 'img/wd42.png';

				context.fillStyle = 'green';

				animate(function(time) {
					// Paint the background
					context.fillRect(0, 0, 600, 600);

					context.save();

					// Offset the origin to the center
					context.translate(300, 300);
					// Rotate around the center
					context.rotate(time / 1000);

					// Draw the image at the origin
					context.drawImage(image, -200, -200, 400, 400);

					context.restore();
				});

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)

section.slide(data-example)
	header.slide--header: h1 Transformations - Matrix
	.slide--body
		div
			p There is no spoon
	.slide--example
		.example
			.example--code.editor(data-example-code).
				image = new Image();
				image.src = 'img/wd42.png';

				context.translate(300, 300);
				// Horizontal scaling, horizontal skewing
				// Vertical skewing, vertical scaling
				// Horizontal translation, vertical translation
				context.transform(0.25, 1.1, -1.7, 0.5, 100, 0);
				context.drawImage(image, -200, -200, 400, 400);

			.example--demo
				canvas.canvas.canvas__outlined(data-example-demo width=600 height=600)
				img.autosize(src="img/matrix.gif")

section.slide.slide__orbit(data-orbit)
	canvas(width=1024 height=800 data-orbit-demo)

section.slide
	header.slide--header: h1 Links
	.slide--example
		ul
			li
				| Code for the slides: 
				a(target="_blank" href="https://bitbucket.org/tim_heap/html5-canvas-talk")
					| bitbucket.org/tim_heap/html5-canvas-talk
			li
				| MDN Documentation on 
				a(target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D")
					| CanvasRenderingContext2D
			li: a(target="_blank" href="http://code.tutsplus.com/articles/21-ridiculously-impressive-html5-canvas-experiments--net-14210")
				| 21 awesome canvas demos
			li: a(target="_blank" href="http://www.huilinwang.com/uploads/01-2011/1294396872.gif")
				| Matrix digital rain GIF
			li: a(target="_blank" href="http://www.eso.org/public/images/eso0116a/")
				| Star field
